.App {
  text-align: center;
  /* width: 780px; */
  /* width: 100%; */
  margin: 0 auto;
}
/* Full width for the dashboard */
.full-width {
  width: 100vh;
  margin: 0; /* Ensure there's no margin */
}

/* Add this to make sure the full-width layout spans the entire height of the viewport */
.full-width > .App-content {
  height: 100vh;
}

body {
  /* background-image: url(); */
  background-image: linear-gradient(141deg, #b1e8b3 35.71%, #81de7e 35.71%, #81de7e 50%, #b1e8b3 50%, #b1e8b3 85.71%, #81de7e 85.71%, #81de7e 100%);
  background-size: 11.12px 9.01px;
  background-attachment: fixed;
}

@media print {
  body {
    background-image: none;
  }
}
