#admit-card {
    border-collapse: collapse;
    border-spacing: 0;
}




#admit-card {
    transform: none !important;
    zoom: 1 !important;
}

#admit-card {
 
    margin: 0 auto; /* Center align */
    padding: 8px;
}